<nav class="navbar navbar-expand-lg" style="background-color: #34656d">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">tsk</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Tasks</a>
        </li>
      </ul>
      <div>
        <div class="nav-item dropdown">
          <div class="btn-group">
            <button
              type="button"
              class="btn dropdown-toggle text-light"
              data-bs-toggle="dropdown"
            >
              <img
                src="../../../assets/default-user-icon.png"
                class="img-thumbnail"
                alt="user-icon"
              />
            </button>
            <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
              <li>
                <button class="dropdown-item" type="button">profile</button>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <button class="dropdown-item" type="button">logout</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
