<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col align-self-center">
      <div class="container p-3 rounded c-form w-50 bg-light f-container">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav-tabs justify-content-center"
        >
          <li [ngbNavItem]="1">
            <a ngbNavLink>Login</a>
            <ng-template ngbNavContent>
              <form
                class="form"
                (ngSubmit)="loginUser(loginForm)"
                #loginForm="ngForm"
              >
                <div class="form-group">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="name@example.com"
                      name="email_address"
                      ngModel
                      email
                      required
                      minlength="3"
                      #lemail="ngModel"
                    />
                    <span
                      class="form-text text-danger text-lowercase italic"
                      *ngIf="!lemail.valid && !lemail.pristine"
                    >
                      invalid email address
                    </span>
                    <label for="l_emailAddress">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="l_password"
                      placeholder="Password"
                      name="password"
                      ngModel
                      required
                      minlength="6"
                      #lpsswd="ngModel"
                    />
                    <span
                      class="form-text text-danger text-lowercase"
                      *ngIf="!lpsswd.valid && !lpsswd.pristine"
                    >
                      password must be 6 charcters long
                    </span>
                    <label for="l_password">Password</label>
                  </div>
                </div>
                <div class="text-center">
                  <button
                    class="btn btn-submit bg-primary text-light"
                    type="submit"
                    [ngStyle]="{
                      cursor: !loginForm.valid ? 'not-allowed' : 'pointer'
                    }"
                    [disabled]="!loginForm.valid"
                  >
                    Login
                  </button>
                </div>
                <div class="mt-3"><a href="#">Forget Password?</a></div>
              </form>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Register</a>
            <ng-template ngbNavContent>
              <form
                class="form"
                (ngSubmit)="registerUser(registerForm)"
                #registerForm="ngForm"
              >
                <div class="form-group">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      ngModel
                      #rusername="ngModel"
                      required
                      minlength="3"
                    />
                    <span
                      class="form-text text-danger text-lowercase"
                      *ngIf="!rusername.valid && !rusername.pristine"
                    >
                      username must be 3 charcters long
                    </span>
                    <label for="r_username">Username</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      name="email_address"
                      ngModel
                      #remail="ngModel"
                      email
                      required
                    />
                    <span
                      class="form-text text-danger text-lowercase"
                      *ngIf="!remail.valid && !remail.pristine"
                    >
                      invalid email address
                    </span>
                    <label for="r_emailAddress">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      ngModel
                      #rpsswd="ngModel"
                      required
                      minlength="6"
                    />
                    <span
                      class="form-text text-danger text-lowercase"
                      *ngIf="!rpsswd.valid && !rpsswd.pristine"
                    >
                      password must be 6 charcters long
                    </span>
                    <label for="r_password">Password</label>
                  </div>
                </div>
                <div class="text-center">
                  <button
                    class="btn btn-submit bg-primary text-light"
                    type="submit"
                    [disabled]="!registerForm.valid"
                  >
                    Register
                  </button>
                </div>
                <div class="mt-3">
                  Already have an account
                  <a href="#" (click)="active = 1"> Login?</a>
                </div>
              </form>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
